* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


/*----------------------------------------------- 
  elements 
-----------------------------------------------*/

html, body {
    margin: 0px;    
    font-family: Helvetica, Arial, sans-serif;    
    font-size: 16px;
    line-height: 21px;
    background-color: #FFF;
    color: #666;
}

body {
    margin: 0 auto;
}

img {
    /* width: 100%; */
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #999;
}

a:hover {
    border-bottom:2px solid #999;
}

a:active {
    color: #FFF;
    border-bottom:2px solid black;
}


/*-----------------------------------------------
  ids
-----------------------------------------------*/

#thumb-container {
    position: relative;
    top: 50px;
    left: 20px;
    width: 95%;
    padding: 10px;
    background-color:#CCC;
}

#logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 150px;
}

#logo-svg {
    width: 100%;
}

#controls {
    position: fixed;
    bottom: 0px;
    right: 10px;
    /*width: 25%;*/
    width: 200px;
    height: 200px;
}

#control {
    width: 100%;
    cursor: pointer;
    animation-name: example;
    animation-duration: 4s;
}

/*-----------------------------------------------
  classes
-----------------------------------------------*/

.thumb {
    position: relative;
    width: 20%;
    margin: 2%;
    padding: 20px;
    vertical-align: top;
    display: inline-block;
    background-color:#999;
}

.img-container {
    position: absolute;
    width: 100%;
    /* display: none; */
    background-color:#666;
}

.img-container img {
    vertical-align: top;
    /* width: 100%; */
}

.stack {
}

.caption {
    font-size: 8pt;
    line-height: 9pt;
	text-align: left;
    cursor: pointer;
}

.square {
    /* margin is calculated based on parent width, so
    this auto-squares a div that contains it */
    margin-top: 100%;
}

.centeralign {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);    
    transform: translate(-50%, -50%);
}

.tall {
    height: 100%;
    width: auto;
}

.wide {
    height: auto;
    width: 100%;
}

.hidden {
    display: none;
}

.debug {
    background-color: #FF0;
}

/*-----------------------------------------------
  animation
-----------------------------------------------*/

@keyframes example {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        /*width: 100px;*/
    }
    to {
        -ms-transform: rotate(-360deg); /* IE 9 */
        -webkit-transform: rotate(-360deg); /* Chrome, Safari, Opera */
        transform: rotate(-360deg);

        /*width: 400px;*/  
    }
}


