* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*----------------------------------------------- 
  elements 
-----------------------------------------------*/

html, body {
    margin: 0px;    
    font-family: "Verlag SSm A", Helvetica, Arial, sans-serif;    
    font-size: 16px;
    line-height: 21px;
    background-color: #FFF;
    color: #000;
}

body {
    margin: 0 auto;
}

img {
    /* width: 100%; */
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #999;
}

a:hover {
    border-bottom:1px solid #999;
}

a:active {
    color: #FFF;
    border-bottom:1px solid black;
}


/*-----------------------------------------------
  ids
-----------------------------------------------*/

#logo {
    position: fixed;
    top: 30px;
    left: 50px;
    width: 150px;
}

#logo-svg {
    width: 100%;
}

#thumb-container {
    position: relative;
    top: 110px;
    left: 50px;
    width: 105%;
}

#controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
}

#control {
    width: 100%;
    cursor: pointer;
    /* animation-name: example;
    animation-duration: 4s; */
}

#seven {
    /*
    animation-name: rotate;
    animation-duration: .5s;
    */
}

#credits {
    position: absolute;
    top: 510px;
    left: 50px;
    width: 88%;
    font-size: 8pt;
    line-height: 9pt;
    text-align: justify;
    /* text-justify: inter-word; */
    background-color: #FFF;
    display: none;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 8pt;
    line-height: 9pt;
    background-color: #FFF;
}


/*-----------------------------------------------
  classes
-----------------------------------------------*/

.thumb {
    position: relative;
    width: 18%;
    margin: 0 5% 0 0;
    vertical-align: top;
    display: inline-block;
}

.thumb-seven {
    position: relative;
    width: 18%;
    margin: 0 5% 0 0;
    vertical-align: top;
    display: inline-block;
}

.img-container {
    position: absolute;
    width: 100%;
}

.img-container img {
     vertical-align: top;
    animation-name: fadein; 
    /* animation-duration: 2s; */
    animation-duration: .2s; 
}

.img-container-seven {
    position: absolute;
    width: 100%;
}

.stack {
    display: none;
}

.caption-container {
    position: absolute;
    top: 300px;
    width: 90%;
    cursor: pointer;
    display: none;
}

.caption {
    font-size: 8pt;
    line-height: 9pt;
	text-align: left;
    display: none;
}

.square {
    /* margin is calculated based on parent width, so
    this auto-squares a div that contains it */
    margin-top: 100%;
}

.centeralign {
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);    
    transform: translate(-50%, -50%);
}

.tall {
    height: 100%;
    width: auto;
}

.wide {
    height: auto;
    width: 100%;
}

.block {
    padding-right: 5px;
    padding-bottom: 9pt;
    display: inline-block;
}

.hidden {
    display: none;
}

.debug {
    background-color: #FF0;
}

/*-----------------------------------------------
  animation
-----------------------------------------------*/

@keyframes rotate {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg); /* IE 9 */
        -webkit-transform: rotate(-360deg); /* Chrome, Safari, Opera */
        transform: rotate(-360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}


